@use "../../mixins" as *;

.select {
  position: relative;
}

.selectBtn {
  height: 6.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  text-align: left;
  border-radius: 2rem;
  border: 1px solid #ebeaea;
  background: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: -0.036rem;
  justify-content: space-between;
  transition: background-color 0.2s, border-color 0.2s;
  padding: 0 2rem;
  cursor: pointer;
  user-select: none;

  @include breakpoint(mobile) {
    height: 5.8rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 125% */
    letter-spacing: -0.032rem;
    border-radius: 1.8rem;
  }
  &.open {
    border-color: var(--primary-color);
    .selectBtnIcon svg {
      transform: rotate(180deg);
    }
  }
}

.selectBtnText {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selectBtnIcon {
  flex-shrink: 0;
  width: 2.2rem;
  height: 2.2rem;
  color: #353131;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #1b1f18;
    transition: transform 0.2s;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 5;
  padding-top: 0.6rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }
}

.dropdownInner {
  border-radius: 2rem;
  border: 1px solid #ebeaea;
  background: #fff;
  box-shadow: 0.2rem 0.2rem 2rem 0rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include breakpoint(mobile) {
    border-radius: 1.8rem;
  }

  &:has(.option:nth-child(4)) {
    padding-right: 0.5rem;

    .optionsList {
      padding-right: 0.5rem;
    }
  }
}

.scrollContainer {
  overflow-x: hidden;
  max-height: 16.6rem;
  max-height: 26.7rem;

  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: rgba(black, 0.05);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0.1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-hover);
  }
}

.optionsList {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem; /* 122.222% */
  letter-spacing: -0.036rem;
  padding: 0 1.2rem;
  height: 5rem;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  width: 100%;
  text-align: left;
  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 125% */
    letter-spacing: -0.032rem;
  }
  svg {
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    fill: #52ca01;
    opacity: 0;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
      width: 2rem;
      height: 2rem;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #f1faeb;
    }
  }

  &.selected {
    background-color: #f1faeb;

    svg {
      opacity: 1;
    }
  }
}

.optionText {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
