.analytics {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 15;
}

.wrapper {
  border-radius: 4rem;
  background: #fafafa;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.heading {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.108rem;
  margin-bottom: 0.6rem;
}

.text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; /* 137.5% */
  letter-spacing: -0.016rem;
  color: rgba(#353131, 0.7);
  font-family: var(--euclid-circular-a);
  margin-bottom: 3.5rem;
}

.row {
  display: grid;
  grid-template-columns: minmax(0, 35rem) 1fr;
  grid-gap: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  top: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.filters {
  padding: 2rem;
  border-radius: 2.4rem;
  border: 1px solid #ebeaea;
  background: #fff;
}

.filtersBlock {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.filtersBlockTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  font-family: var(--euclid-circular-a);
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
}
