.callbackModal {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.2rem;
  letter-spacing: -0.108rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: -0.036rem;
  color: #9c9a9a;
  margin-bottom: 2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.6rem;
  align-items: flex-start;
}

.field {
  display: block;
}

.input {
  display: block;
  border-radius: 2rem;
  border: 1px solid #ebeaea;
  background: #fff;
  height: 5.6rem;
  display: block;
  padding: 0 2rem;
  color: var(--text-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.032rem;
  font-family: var(--euclid-circular-a);
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    border-color: var(--primary-color);
  }
}

.submit {
  display: block;
  text-align: center;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: -0.036rem;
  border-radius: 2rem;
  background: #52ca01;
  color: white;
  align-self: stretch;
  transition: background-color 0.2s, color 0.2s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--primary-color-hover);
    }
  }
}
