@use "../../mixins" as *;

.chart {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: subgrid;
  border-radius: 2.4rem;
  border: 1px solid #ebeaea;
  background: #fff;
  padding: 2rem;
  grid-row: span 2;
  grid-gap: 1.6rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.6rem;
  }
}

.chartTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem; /* 120% */
  letter-spacing: -0.02rem;

  font-family: var(--euclid-circular-a);
  grid-row: 1 / 2;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem; /* 120% */
    letter-spacing: -0.02rem;
  }
}

.chartWrapper {
  border-radius: 1.6rem;
  border: 1px solid #ebeaea;
  overflow: hidden;
  grid-row: 2 / 3;
  padding: 1rem;
  position: relative;

  @include breakpoint(mobile) {
    border-radius: 1.6rem;
    border: 1px solid #ebeaea;
    padding: 0.5rem;
  }
}

.sizeWrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 0.8;
}
